html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #5f6477;
    font: inherit;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}

.mapCon {
    width: 100%;
    height: 100%;
    background-color: #333;
}

/*
* 图层切换  经纬度
* -----------------------------------------------------------------------------------
*/
.container {
    height: 0;
}

/* 图层切换按钮 */
.container>.changeLayer {
    position: fixed;
    top: 50%;
    right: 1em;
    padding: 0 .25em;
    border: none;
    border-radius: 999em;
    outline: none;
    font-family: "iconfont" !important;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    transform: translate(0, -50%);
    transition: all .1s linear;
    cursor: pointer;
}

.container>.changeLayer.styleA {
    background-color: rgba(0, 0, 0, .5);
    color: #ddd;
}

.container>.changeLayer.styleA:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.container>.changeLayer.styleB {
    background-color: rgba(255, 255, 255, .5);
    color: #333;
}

.container>.changeLayer.styleB:hover {
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}

/* 经纬度 */
.container>.coordinate>.coor {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 0.5em;
    font-size: 14px;
}

/*
* 工具栏
* -----------------------------------------------------------------------------------
*/

/* 用户 */
/* 用户 */
/* 用户 */
.container>.userBox {
    position: fixed;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 999em;
    /* transform: translate(-20px, 15px); */
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .3);
}

.container>.userBox>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container>.userBox>.loginBox {
    visibility: hidden;
    position: fixed;
    right: 20px;
    top: 78px;
    padding: .5em 1em;
    border-radius: 3px;
    background-color: transparent;
    color: transparent;
    cursor: default;
    transition: all .2s ease-in-out;
}

.container>.userBox>.loginBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border: 7px solid transparent;
    transform: translate(-50%, -100%);
    transition: all .2s ease-in-out;
}

.container>.userBox:hover>.loginBox {
    visibility: visible;
    top: 72px;
    color: #fff;
    background-color: #494949;
}

.container>.userBox:hover>.loginBox::before {
    border-bottom-color: #494949;
}

.container>.userBox>.loginBox:hover {
    visibility: hidden;
    top: 78px;
    color: transparent;
    background-color: transparent;
}

.container>.userBox>.loginBox:hover::before {
    border-bottom-color: transparent;
}

/* 一级工具 */
/* 一级工具 */
/* 一级工具 */
.container>.toolBar {
    position: fixed;
    top: 17px;
    right: 78px;
    height: 400px;
    overflow: hidden;
}

.container>.toolBar>ul {
    box-shadow: -2px -2px 2px 0 rgba(0, 0, 0, .3);
    margin-right: calc(24px - 630px);
    transition: margin .4s ease-in-out;
}

.container>.toolBar>ul>li {
    position: relative;
    float: left;
    padding: 0 1em;
    background-color: rgba(0, 0, 0, .5);
    color: #ddd;
    font-family: "iconfont" !important;
    line-height: 45px;
    cursor: pointer;
}

.container>.toolBar>ul>li:first-child {
    padding: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 2em;
}

.container>.toolBar>ul>li:last-child {
    border-top-right-radius: 3px;
}

.container>.toolBar>ul>li:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.container>.toolBar>ul>li::before {
    float: left;
    margin-right: 5px;
    font-size: 2em;
}

.container>.toolBar>ul>li:nth-child(2)::before {
    content: "\ebbb";
}

.container>.toolBar>ul>li:nth-child(3)::before {
    content: "\eb47";
}

.container>.toolBar>ul>li:nth-child(4)::before {
    content: "\ebb2";
}

.container>.toolBar>ul>li:nth-child(5)::before {
    content: "\e741";
}

.container>.toolBar>ul>li:nth-child(6)::before {
    content: "\e6e9";
}

.container>.toolBar>ul>li:nth-child(7)::before {
    content: "\ebc3";
}

/* 二级工具 */
/* 二级工具 */
/* 二级工具 */
/* 1 */
/* 1 */
.container>.toolBar>ul>li:nth-child(6)>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.container>.toolBar>ul>li:nth-child(6)>ul>li {
    padding: 0 1em;
    background-color: rgba(0, 0, 0, .5);
    color: #ddd;
    font-family: "iconfont" !important;
    line-height: 45px;
    cursor: pointer;
}

.container>.toolBar>ul>li:nth-child(6)>ul>li:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.container>.toolBar>ul>li:nth-child(6)>ul>li::before {
    float: left;
    margin-right: 5px;
    font-size: 2em;
}

.container>.toolBar>ul>li:nth-child(6)>ul>li:nth-child(1)::before {
    content: "\eb48";
}

.container>.toolBar>ul>li:nth-child(6)>ul>li:nth-child(2)::before {
    content: "\eb4c";
}

.container>.toolBar>ul>li:nth-child(6)>ul>li:nth-child(3)::before {
    content: "\e6a8";
}

/* 2 */
/* 2 */
.container>.toolBar>ul>li:nth-child(7)>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.container>.toolBar>ul>li:nth-child(7)>ul>li {
    padding: 0 1em;
    background-color: rgba(0, 0, 0, .5);
    color: #ddd;
    font-family: "iconfont" !important;
    line-height: 45px;
    cursor: pointer;
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
}

.container>.toolBar>ul>li:nth-child(7)>ul>li::before {
    float: left;
    margin-right: 5px;
    font-size: 2em;
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(1)::before {
    content: "\e820";
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(2)::before {
    content: "\e87d";
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(3)::before {
    content: "\e749";
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(4)::before {
    content: "\e74e";
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(5)::before {
    content: "\e74a";
}

.container>.toolBar>ul>li:nth-child(7)>ul>li:nth-child(6)::before {
    content: "\e6a2";
}

/*
* 注册 登录
* -----------------------------------------------------------------------------------
*/

/* 
.mapCon {
    filter: blur(6px);
} 
*/
.container>.formReg {
    display: none;
}

.container>.formLogin {
    display: none;
}

.container>.formReg,
.container>.formLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.container>.formReg>img,
.container>.formLogin>img {
    position: absolute;
    bottom: calc(18% + 500px - 100px);
    right: 35%;
    z-index: 1;
    width: 240px;
}

.container>.formReg>ul,
.container>.formLogin>ul {
    position: absolute;
    bottom: 18%;
    left: 50%;
    width: 460px;
    height: 500px;
    padding: 100px 60px 0;
    border-radius: 36px;
    background-color: #fff;
    background-size: contain;
    color: #78909c;
    transform: translate(-50%);
}

.container>.formReg>ul>li,
.container>.formLogin>ul>li {
    width: 100%;
    margin-bottom: 22px;
    border-bottom: 1px solid #cacbcc;
}

.container>.formReg>ul>li>input,
.container>.formLogin>ul>li>input {
    display: inline-block;
    width: 85%;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 40px;
}

.container>.formReg>ul>li::before,
.container>.formLogin>ul>li::before {
    content: "";
    display: inline-block;
    width: 15%;
    font-family: "iconfont" !important;
    font-size: 2em;
    vertical-align: bottom;
    text-align: center;
}

/* 注册 登录的icon */
/* 注册 登录的icon */
.container>.formReg>ul>li:nth-child(1)::before,
.container>.formLogin>ul>li:nth-child(1)::before {
    content: "\e7b0";
}

.container>.formReg>ul>li:nth-child(2)::before,
.container>.formLogin>ul>li:nth-child(2)::before {
    content: "\e92f";
}

/* 注册 的icon */
/* 注册 的icon */
.container>.formReg>ul>li:nth-child(3)::before {
    content: "\e92f";
}

.container>.formReg>ul>li:nth-child(4)::before {
    content: "\e7de";
}

/* 注册 的btn：1.完成注册 2.马上登录 3.不想注册 */
/* 登录 的btn：1.完成登录 2.马上注册 3.不想登录 */
.container>.formReg>ul>li:nth-child(5),
.container>.formReg>ul>li:nth-child(6),
.container>.formLogin>ul>li:nth-child(3),
.container>.formLogin>ul>li:nth-child(4) {
    border: none;
}

.container>.formReg>ul>li:nth-child(5)>button,
.container>.formLogin>ul>li:nth-child(3)>button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 999em;
    outline: none;
    background-color: #0099ff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

/* 闪光特效 */
.container>.formReg>ul>li:nth-child(5)>button::after,
.container>.formLogin>ul>li:nth-child(3)>button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8%;
    width: 0px;
    height: 60%;
    margin: auto 0;
    background-color: #fff;
    border-radius: 999em;
    box-shadow: 0 0 12px 10px #fff;
    transform: skew(-30deg);
    transition: all .4s linear;
}

.container>.formReg>ul>li:nth-child(5)>button:hover::after,
.container>.formLogin>ul>li:nth-child(3)>button:hover::after {
    left: 108%;
}

.container>.formReg>ul>li:nth-child(6)>a,
.container>.formLogin>ul>li:nth-child(4)>a {
    float: left;
}

.container>.formReg>ul>li:nth-child(6)>a:last-child,
.container>.formLogin>ul>li:nth-child(4)>a:last-child {
    float: right;
}

.container>.formReg>ul>li:nth-child(6)>a:hover,
.container>.formLogin>ul>li:nth-child(4)>a:hover {
    color: #0099ff;
}

/* 登录 的btn：*/
/* 登录 的btn：*/